@font-face{
	font-family: 'lato-light';
	font-style: normal;
	src:url('../fonts/Lato-Light.ttf')format('truetype');;
}
body{
	font-family: lato-light;
	background-color: #eee;
}
a{
	text-decoration: none;
	color: inherit;
}
.main{
	width: 850px;
	border: 1px #ddd solid;
	margin: 0px auto;
	background-color: #fff;
	box-shadow: 0px 0px 3px #ddd;
	display: flex;
}
.sidebar{
	width: 250px;
	float: left;
	margin: 0px;
	text-align: center;
	padding-top: 33px;
	border-right: 1px #ddd solid;
	position: relative;
}
.main-center{
	width:595px; 
	margin: 0px;
	float: right;
}
.img_title_name{
	transition:all 1s;
	position: relative;
}
.img_title_name  img{
	height: 150px;
	border-radius: 100%;
	transition: all 1s;
}
.img_title_name:hover >img{
	opacity: 0.1;
}
.img_title_name:hover >.legend{
	opacity: 1;
}
.legend{
	position: absolute;
	top: 45%;
	left: 30%;
	opacity: 0;
	transition: all 1s;

}
.title_name{
	font-weight: bold;
	letter-spacing: 4px;
}
.contact ul{
	list-style: none;
	text-align: left;
	margin-top: 72px;
	padding-left: 33px;
}
.overview p {
	text-align: justify;
	padding: 11px;
	line-height: 21px;
}
.cutter {
	padding: 15px 0px;
	margin: 15px 0px;
}
.cutter .title{
	width: 102px;
	background-color: #C5C5C5;
	border-radius: 72px;
	margin: 0px;
	padding: 0px;
	float: left;
	font-weight: bold;
	color: #fff;
}
.cutter .line_left{
	float: left;
	width: 72px;
}
.cutter .line_right{
	float: right;
	width: 72px;
}
.projects {
	font-size: 14px;
	line-height: 24px;
	margin-top: 33px;
	padding: 33px 33px;
}
.projects ul li{
	font-weight: bold;
}
.projects ul li ul li {
	font-weight: normal;
}
.copyright{
	text-align: center;
	background-color: #fff;
	width: 850px;
	margin: 0px auto;
	box-shadow: 0px 0px 3px #ddd;
}
.skills ul {
	display: inline-block;
	padding: 0px 11px;
}
.skills ul li{
	list-style: none;
	border-radius: 15px;
	background-color: #ddd;
	float: left;
	min-width: 33px;
	margin: 4px 2px;
	border-left: 11px #646464 solid;
	font-size: 14px;
	padding: 3px 9px;
	font-weight: bold;
}
.personal_details ul {
	list-style: none;
	padding:0px;
}
.version{
	position: absolute;
	bottom: -20px;
	left: 5px;
	font-size: 14px;
}
.counter {
	display: none;
}